<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-5 d-none d-sm-inline">Admin Dashboard</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">


          <li>
            <a routerLink="/Admin/AllUsersAdmin" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline"> All Users</span>
            </a>
          </li>

          <li>
            <a routerLink="/Admin/AllContactsAdmin" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline"> Contacts Messeges</span>
            </a>
          </li>

          <p class="nav-link px-0 align-middle">-------------------------------------</p>

          <!--Suha------------------------------->
          <li>
            <a routerLink="/Admin/AllPosts" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">All Posts</span>
            </a>
          </li>

          <li>
            <a routerLink="/Admin/PostsByStoryId" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Edited Posts</span>
            </a>
          </li>
          <!-------------------------------->
          <!--<li>
    <a routerLink="/Admin/PostsByStoryId" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
      <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Edited Posts</span>
    </a>
  </li>-->
          <!----- yousef end --------------------------->

          <p class="nav-link px-0 align-middle">-------------------------------------</p>
          <!---Raneem-------------------------------------------->
          <li>
            <a routerLink="/Admin/getCategoryAdmin" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
              <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Category</span>
            </a>
          </li>

          <li>
            <a routerLink="/Admin/getAnimalAdmin" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
              <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Animal</span>
            </a>
          </li>
          <!--Hadeel------------------------------->

          <li>
            <a routerLink="/Admin/getSheltersAdmin" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
              <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Shelters</span>
            </a>
          </li>
          <!------------------------------>
          <li>
            <!--<a routerLink="/dash/Display-Subscription" data-bs-toggle="collapse" class="nav-link px-0 align-middle "></a>
    <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">All Subscription</span>-->
            <a routerLink="/Admin/AllOrder" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
              <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">All Adoption Response</span>
            </a>
          </li>
          <!-------------------------------->




          <p class="nav-link px-0 align-middle">-------------------------------------</p>

          <!--Yousef start------------------------------->
          <!----- yousef end --------------------------->
          <!--<li class="dropdown">
    <a href="javascript:;" class="dropdown-toggle">
      <span class="micon bi bi-file-earmark-text"></span><span class="mtext">category </span>
    </a>
    <ul class="submenu">
      <li><a routerLink="/Admin/getCategoryAdmin">Get ALL Category</a></li>
      <li>
        <a href="Vendor/ReviewVendor.html">Review Vendor</a>
      </li>
      <li>
        <a href="Vendor/addServicetype.html">Add Service details</a>
      </li>
    </ul>
  </li>-->
          <!--<li class="dropdown">
    <a href="javascript:;" class="dropdown-toggle">
      <span class="micon bi bi-file-earmark-text"></span><span class="mtext">category </span>
    </a>
    <ul class="submenu">
      <li><a routerLink="/Admin/getCategoryAdmin">Get ALL Category</a></li>
      <li>
        <a href="Vendor/ReviewVendor.html">Review Vendor</a>
      </li>
      <li>
        <a href="Vendor/addServicetype.html">Add Service details</a>
      </li>
    </ul>
  </li>-->







        </ul>
        <hr>

      </div>
    </div>
    <div class="col py-3">


      <router-outlet></router-outlet>
    </div>
  </div>
</div>
