<form #Shelterform="ngForm" (ngSubmit)="AddNewShelter(Shelterform.value)" style="max-width: 80%; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 10px; background-color: gainsboro;">
  <input type="hidden" name="__RequestVerificationToken" value="TOKEN_VALUE">

  <h2 style="text-align: center; margin-bottom: 20px;">Update Shelter</h2>

  <div class="form-container">
    <div class="row">


      <div class="col-md-6 mb-3">
        <label for="subRecipeName" class="form-label" style="font-weight: bold;">Shelter Name</label>
        <input type="text" id="subRecipeName" name="shelterName" class="form-control" required="required" ngModel>
        <span class="text-danger" id="subRecipeName-error" style="color: red; font-size: 0.875em;"></span>
      </div>
      <div class="col-md-6 mb-3">
        <label for="benefits" class="form-label" style="font-weight: bold;">description</label>
        <input type="text" id="benefits" name="description" class="form-control" required="required" ngModel>
        <span class="text-danger" id="benefits-error" style="color: red; font-size: 0.875em;"></span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="preparationSteps" class="form-label" style="font-weight: bold;">Email</label>
        <input type="text" id="preparationSteps" name="contactEmail" class="form-control" required="required" ngModel>
        <span class="text-danger" id="preparationSteps-error" style="color: red; font-size: 0.875em;"></span>
      </div>

      <div class="col-md-6 mb-3">
        <label for="preparationTime" class="form-label" style="font-weight: bold;">phone</label>
        <input type="text" id="preparationTime" name="phone" class="form-control" required="required" ngModel>
        <span class="text-danger" id="preparationTime-error" style="color: red; font-size: 0.875em;"></span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="benefits" class="form-label" style="font-weight: bold;">openTime</label>
        <input type="text" id="benefits" name="openTime" class="form-control" required="required" ngModel>
        <span class="text-danger" id="benefits-error" style="color: red; font-size: 0.875em;"></span>
      </div>


      <div class="col-md-6 mb-3">
        <label for="benefits" class="form-label" style="font-weight: bold;">closeTime</label>
        <input type="text" id="benefits" name="closeTime" class="form-control" required="required" ngModel>
        <span class="text-danger" id="benefits-error" style="color: red; font-size: 0.875em;"></span>
      </div>

      <div class="col-md-6 mb-3">
        <label for="benefits" class="form-label" style="font-weight: bold;">openDay</label>
        <input type="text" id="benefits" name="openDay" class="form-control" required="required" ngModel>
        <span class="text-danger" id="benefits-error" style="color: red; font-size: 0.875em;"></span>
      </div>

      <div class="col-md-6 mb-3">
        <label for="benefits" class="form-label" style="font-weight: bold;">address</label>
        <input type="text" id="benefits" name="address" class="form-control" required="required" ngModel>
        <span class="text-danger" id="benefits-error" style="color: red; font-size: 0.875em;"></span>
      </div>

    </div>

    <div class="text-center">
      <button type="submit" class="btn w-25" style="background-color: #e955fc;">Submit</button>
    </div>
  </div>
</form>
