<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
  <div class="container text-center py-5">
    <h1 class="display-3 text-white mb-4 animated slideInDown">Log In</h1>
    <nav aria-label="breadcrumb animated slideInDown">
      <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Log in</li>
      </ol>
    </nav>
  </div>
</div>

<div class="row justify-content-center ">

  <div class="col-lg-5 wow fadeInUp mx-auto my-5 border border-secondary rounded p-4" data-wow-delay="0.1s">
    <h2 class="mb-4 text-center">Login Now</h2>
    <br />

    <form #loginForm="ngForm" (ngSubmit)="checkUser(loginForm.value)">
      <div class="row g-3">
        <div class="col-12">
          <div class="form-floating">
            <input type="text" class="form-control" name="Email" placeholder="Email" ngModel>
            <label for="Email">Email</label>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <input type="password" class="form-control" name="Password" placeholder="Password" ngModel>
            <label for="Password">Password</label>
          </div>
        </div>

        <div class="col-12 text-center">
          <button class="btn btn-secondary rounded-pill py-3 px-5" type="submit">
            Login
          </button>
        </div>
        <div class="col-12 text-center">
          <p>Don't have an account? <a routerLink="registration" class="text-danger">Sign up now</a></p>
        </div>

      </div>
    </form>

  </div>
</div>
