<!-- Carousel Start -->
<div class="container-fluid px-0 mb-5">
  <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="w-100" src="assets/images/homeCats.jpg" alt="Image" style="max-height: 800px;">
        <div class="carousel-caption">
          <div class="container">
            <div class="row justify-content-start">
              <div class="col-lg-8 text-start">
                <p class="fs-4 text-white">Giving Every Animal a Loving Home</p>
                <h1 class="display-1 text-white mb-5 animated slideInRight">Welcome to Our Animal Sanctuary</h1>
                <a href="" class="btn btn-secondary rounded-pill py-3 px-5 animated slideInRight">Explore More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="w-100" src="assets/images/bg_1.jpg" alt="Image" style="max-height: 800px;">
        <div class="carousel-caption">
          <div class="container">
            <div class="row justify-content-end">
              <div class="col-lg-8 text-end">
                <p class="fs-4 text-white">Where Every Animal Finds Their Forever Family</p>
                <h1 class="display-1 text-white mb-5 animated slideInRight">Adopt, Love, Cherish</h1>
                <a href="" class="btn btn-secondary rounded-pill py-3 px-5 animated slideInLeft">Explore More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
            data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
            data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- Carousel End -->
<!-- About Start -->
<div class="container-xxl py-5 mt-5 mb-5">
  <div class="container">
    <div class="row g-5 align-items-center" style="text-align:center">
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="margin: 0 auto;">
        <p class="section-title bg-white text-primary pe-3">About Us</p>
        <h1 class="mb-4">Learn About Our Animal Shelters & Adoption Program</h1>
        <p class="mb-4">At our platform, we bring together loving animals from shelters across the country, helping them find their forever homes. Whether you're looking to adopt a dog, cat, or another furry friend, we make the process easy and stress-free.</p>
        <div class="row g-5 pt-2 mb-5">
          <div class="col-sm-6">
            <img class="img-fluid mb-4" src="assets/img/service.png" alt="">
            <h5 class="mb-3">Dedicated Services</h5>
            <span>
              We work closely with shelters to ensure that every animal gets the care and attention they deserve.
            </span>
          </div>
          <div class="col-sm-6">
            <img class="img-fluid mb-4" src="assets/img/product.png" alt="">
            <h5 class="mb-3">Organic Products</h5>
            <span>Our platform offers an easy-to-use form to start the adoption process and welcome your new friend into your home.</span>
          </div>
        </div>
        <a class="btn btn-secondary rounded-pill py-3 px-5" href="">Explore More</a>
      </div>
    </div>
  </div>
</div>
<!-- About End -->
<!-- Features Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <p class="section-title bg-white text-start text-primary pe-3">Why Us!</p>
        <h1 class="mb-4">Few Reasons Why People Choosing Us!</h1>
        <p class="mb-4">
          We are dedicated to helping animals from shelters find loving homes. Here’s why we stand out:</p>
        <p><i class="fa fa-check text-primary me-3"></i>With decades of experience, we have a proven track record of connecting animals with caring families.</p>
        <p>
          <i class="fa fa-check text-primary me-3"></i>We’ve received numerous awards for our efforts in animal rescue and adoption.

        </p>
        <p>
          <i class="fa fa-check text-primary me-3"></i>Thousands of families have found their perfect companion through our platform.

        </p>
        <a class="btn btn-secondary rounded-pill py-3 px-5 mt-3" href="">Explore More</a>
      </div>
      <div class="col-lg-6">
        <div class="rounded overflow-hidden">
          <div class="row g-0">
            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
              <div class="text-center bg-primary py-5 px-4">
                <img class="img-fluid mb-4" src="assets/img/experience.png" alt="">
                <h1 class="display-6 text-white" data-toggle="counter-up">5</h1>
                <span class="fs-5 fw-semi-bold text-secondary">Years Experience</span>
              </div>
            </div>
            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
              <div class="text-center bg-secondary py-5 px-4">
                <img class="img-fluid mb-4" src="assets/img/award.png" alt="">
                <h1 class="display-6" data-toggle="counter-up">45</h1>
                <span class="fs-5 fw-semi-bold text-primary">Award Winning</span>
              </div>
            </div>
            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
              <div class="text-center bg-secondary py-5 px-4">
                <img class="img-fluid mb-4" src="assets/img/animal.png" alt="">
                <h1 class="display-6" data-toggle="counter-up">420</h1>
                <span class="fs-5 fw-semi-bold text-primary">Total Animals</span>
              </div>
            </div>
            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
              <div class="text-center bg-primary py-5 px-4">
                <img class="img-fluid mb-4" src="assets/img/client.png" alt="">
                <h1 class="display-6 text-white" data-toggle="counter-up">235</h1>
                <span class="fs-5 fw-semi-bold text-secondary">Happy Clients</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Features End -->
<!-- Banner Start -->
<!--<div class="container-fluid banner my-5 py-5" data-parallax="scroll" data-image-src="assets/img/banner.jpg">
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
        <div class="row g-4 align-items-center">
          <div class="col-sm-4">
            <img class="img-fluid rounded" src="assets/img/banner-1.jpg" alt="">
          </div>
          <div class="col-sm-8">
            <h2 class="text-white mb-3">We Sell Best Dairy Products</h2>
            <p class="text-white mb-4">Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
            <a class="btn btn-secondary rounded-pill py-2 px-4" href="">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
        <div class="row g-4 align-items-center">
          <div class="col-sm-4">
            <img class="img-fluid rounded" src="assets/img/banner-2.jpg" alt="">
          </div>
          <div class="col-sm-8">
            <h2 class="text-white mb-3">We Deliver Fresh Mild Worldwide</h2>
            <p class="text-white mb-4">Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
            <a class="btn btn-secondary rounded-pill py-2 px-4" href="">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
<!-- Banner End -->
<!-- Service Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center mx-auto pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
      <p class="section-title bg-white text-center text-primary px-3">Animals Category</p>
      <h1 class="mb-5">
        Explore Our Animal Categories & Find Your New Companion
      </h1>
    </div>
    <div class="row gy-5 gx-4">
      <div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item d-flex h-100">
          <div class="service-img">
            <img class="img-fluid" src="assets/img/service-1.jpg" alt="">
          </div>
          <div class="service-text p-5 pt-0">
            <div class="service-icon">
              <img class="img-fluid rounded-circle" src="assets/img/service-1.jpg" alt="">
            </div>
            <h5 class="mb-3">
              Best Animal Selection
            </h5>
            <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>
            <a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item d-flex h-100">
          <div class="service-img">
            <img class="img-fluid" src="assets/img/service-2.jpg" alt="">
          </div>
          <div class="service-text p-5 pt-0">
            <div class="service-icon">
              <img class="img-fluid rounded-circle" src="assets/img/service-2.jpg" alt="">
            </div>
            <h5 class="mb-3">Breeding & Veterinary</h5>
            <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>
            <a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item d-flex h-100">
          <div class="service-img">
            <img class="img-fluid" src="assets/img/service-3.jpg" alt="">
          </div>
          <div class="service-text p-5 pt-0">
            <div class="service-icon">
              <img class="img-fluid rounded-circle" src="assets/img/service-3.jpg" alt="">
            </div>
            <h5 class="mb-3">Care & Milking</h5>
            <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>
            <a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service End -->
<!-- Gallery Start -->
<div class="container-xxl py-5 px-0">
  <div class="row g-0">
    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
      <div class="row g-0">
        <div class="col-12">
          <a class="d-block" href="assets/img/scotchCat.jpg" data-lightbox="gallery">
            <img class="img-fluid" src="assets/img/scotchCat.jpg" alt="">
          </a>
        </div>
        <div class="col-12">
          <a class="d-block" href="assets/img/dog2.jpg" data-lightbox="gallery">
            <img class="img-fluid" src="assets/img/dog2.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
      <div class="row g-0">
        <div class="col-12">
         
          <a class="d-block" href="assets/img/dog1.jpeg" data-lightbox="gallery">
            <img class="img-fluid" src="assets/img/dog1.jpeg" alt="">
          </a>
        </div>
        
      </div>
    </div>
    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
      <div class="row g-0">
        <div class="col-12">
          <a class="d-block" href="assets/assets/img/fish1.jpg" data-lightbox="gallery">
            <img class="img-fluid" src="assets/img/fish1.jpg" alt="">
          </a>
        </div>
        <div class="col-12">
          <a class="d-block" href="assets/img/animal5.jpg" data-lightbox="gallery">
            <img class="img-fluid" src="assets/img/animal5.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
      <div class="row g-0">
        <div class="col-12">
          <a class="d-block" href="assets/img/rabbit2.avif" data-lightbox="gallery">
            <img class="img-fluid" src="assets/img/rabbit2.avif" alt="">
          </a>
        </div>
        <div class="col-12">
          <a class="d-block" href="assets/img/Hamster.jpg" data-lightbox="gallery">
            <img class="img-fluid" src="assets/img/Hamster.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Gallery End -->
<!-- Product Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
      <p class="section-title bg-white text-center text-primary px-3">
        Our Animals for Adoption
      </p>
      <h1 class="mb-5">Explore the different animals available for adoption.</h1>
    </div>
    <div class="row gx-4">
      <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
        <div class="product-item">
          <div class="position-relative">
            <img class="img-fluid" src="assets/img/product-1.jpg" alt="">
            <div class="product-overlay">
              <a class="btn btn-square btn-secondary rounded-circle m-1" href=""><i class="bi bi-link"></i></a>
              <a class="btn btn-square btn-secondary rounded-circle m-1" href=""><i class="bi bi-cart"></i></a>
            </div>
          </div>
          <div class="text-center p-4">
            <a class="d-block h5" href="">Pure Milk</a>
            <span class="text-primary me-1">$19.00</span>
            <span class="text-decoration-line-through">$29.00</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
        <div class="product-item">
          <div class="position-relative">
            <img class="img-fluid" src="assets//src/assets/img/product-2.jpg" alt="">
            <div class="product-overlay">
              <a class="btn btn-square btn-secondary rounded-circle m-1" href=""><i class="bi bi-link"></i></a>
              <a class="btn btn-square btn-secondary rounded-circle m-1" href=""><i class="bi bi-cart"></i></a>
            </div>
          </div>
          <div class="text-center p-4">
            <a class="d-block h5" href="">Fresh Meat</a>
            <span class="text-primary me-1">$19.00</span>
            <span class="text-decoration-line-through">$29.00</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
        <div class="product-item">
          <div class="position-relative">
            <img class="img-fluid" src="assets//src/assets/img/product-3.jpg" alt="">
            <div class="product-overlay">
              <a class="btn btn-square btn-secondary rounded-circle m-1" href=""><i class="bi bi-link"></i></a>
              <a class="btn btn-square btn-secondary rounded-circle m-1" href=""><i class="bi bi-cart"></i></a>
            </div>
          </div>
          <div class="text-center p-4">
            <a class="d-block h5" href="">Dairy Products</a>
            <span class="text-primary me-1">$19.00</span>
            <span class="text-decoration-line-through">$29.00</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
        <div class="product-item">
          <div class="position-relative">
            <img class="img-fluid" src="assets//src/assets/img/product-4.jpg" alt="">
            <div class="product-overlay">
              <a class="btn btn-square btn-secondary rounded-circle m-1" href=""><i class="bi bi-link"></i></a>
              <a class="btn btn-square btn-secondary rounded-circle m-1" href=""><i class="bi bi-cart"></i></a>
            </div>
          </div>
          <div class="text-center p-4">
            <a class="d-block h5" href="">Organic Food</a>
            <span class="text-primary me-1">$19.00</span>
            <span class="text-decoration-line-through">$29.00</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Product End -->

<!-- Testimonial Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
      <p class="section-title bg-white text-center text-primary px-3">Our Community</p>
      <h1 class="mb-5">
        What People Say About Our Animal Shelter
      </h1>
      <p class="mb-5">
        Read stories from our wonderful community of adopters and supporters who have found their perfect companions through our platform. Hear how these animals have made a difference in their lives.
      </p>
    </div>
    
  </div>
</div>

<!-- Testimonial End -->
