<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
      <p class="section-title bg-white text-center text-primary px-3">Animals</p>
      <h1 class="mb-5">All Type of Animals </h1>
    </div>
    <div class="row gx-4">
      <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s" *ngFor="let animal of AnimalData">
        <div class="product-item">
          <div class="position-relative">
           
              <img class="img-fluid" [src]="'../assets/images/' + animal.image1" alt="{{ animal.name }}">
         
          </div>
          <div class="text-center p-4">
            <a class="d-block h5"  [routerLink]="['/details', animal.id]">{{ animal.name }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

