<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
  <div class="container text-center py-5">
    <h1 class="display-3 text-white mb-4 animated slideInDown">About Us</h1>
    <nav aria-label="breadcrumb animated slideInDown">  
      <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active" aria-current="page">About</li>
      </ol>
    </nav>
  </div>
</div>
<!-- Page Header End -->
<!-- About Start -->
<div class="container-xxl py-5 mt-5 mb-5">
  <div class="container">
    <div class="row g-5 align-items-center" style="text-align:center">
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="margin: 0 auto;">
        <p class="section-title bg-white text-primary pe-3">About Us</p>
        <h1 class="mb-4">Learn About Our Animal Shelters & Adoption Program</h1>
        <p class="mb-4">At our platform, we bring together loving animals from shelters across the country, helping them find their forever homes. Whether you're looking to adopt a dog, cat, or another furry friend, we make the process easy and stress-free.</p>
        <div class="row g-5 pt-2 mb-5">
          <div class="col-sm-6">
            <img class="img-fluid mb-4" src="assets/img/service.png" alt="">
            <h5 class="mb-3">Dedicated Services</h5>
            <span>
              We work closely with shelters to ensure that every animal gets the care and attention they deserve.
            </span>
          </div>
          <div class="col-sm-6">
            <img class="img-fluid mb-4" src="assets/img/product.png" alt="">
            <h5 class="mb-3">Organic Products</h5>
            <span>Our platform offers an easy-to-use form to start the adoption process and welcome your new friend into your home.</span>
          </div>
        </div>
        <a class="btn btn-secondary rounded-pill py-3 px-5" href="">Explore More</a>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Team Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
      <p class="section-title bg-white text-center text-primary px-3">Our Team</p>
      <h1 class="mb-5">Experienced Team Members</h1> <br />
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item rounded p-4">
          <img class="img-fluid rounded mb-4" src="img/team-1.jpg" alt="">
          <h5>
            Raneem alhalahlah
          </h5>
          <p class="text-primary">Founder</p>
          <div class="d-flex justify-content-center">
            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item rounded p-4">
          <img class="img-fluid rounded mb-4" src="img/team-2.jpg" alt="">
          <h5>Hadeel Alzoubi</h5>
          <p class="text-primary">Veterinarian</p>
          <div class="d-flex justify-content-center">
            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item rounded p-4">
          <img class="img-fluid rounded mb-4" src="img/team-3.jpg" alt="">
          <h5>Rahaf Duhaimesh</h5>
          <p class="text-primary">Veterinarian</p>
          <div class="d-flex justify-content-center">
            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item rounded p-4">
          <img class="img-fluid rounded mb-4" src="img/team-3.jpg" alt="">
          <h5>Omar Al-Mahammed</h5>
          <p class="text-primary">Veterinarian</p>
          <div class="d-flex justify-content-center">
            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item rounded p-4">
          <img class="img-fluid rounded mb-4" src="img/team-3.jpg" alt="">
          <h5>Suha Tayseer</h5>
          <p class="text-primary">Veterinarian</p>
          <div class="d-flex justify-content-center">
            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item rounded p-4">
          <img class="img-fluid rounded mb-4" src="img/team-3.jpg" alt="">
          <h5>Yousef khrawesh</h5>
          <p class="text-primary">Veterinarian</p>
          <div class="d-flex justify-content-center">
            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Team End -->
