<hr />
<h2>category </h2>
<hr />


<button class="btn btn-success mb-0" [routerLink]="['/Admin/AddCategoryAdmin']">Add category</button>

<table class="table table-striped table-hover text-center" style="margin-top: 20px;">
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">category Name</th>
      <th scope="col">description</th>

      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of categoryArray">
      <td>
        <a class="postcard__img_link">
          <img class="postcard__img"
               [src]="'https://localhost:44378/api/images/getImages/' + item.image"
               [alt]="item.image"
               style="width: 100px; height: 100px;" />
        </a>
      </td>
      <td>{{item.name}}</td>
      <td>{{item.description}}</td>

      <td>
        <button class="btn btn-secondary me-2" style="width: 80px;" [routerLink]="['/Admin/updatCategoryAdmin', item.categoryId]">Edit</button>

        <button class="btn btn-danger" style="width: 80px;" (click)="deletCategoryId(item.categoryId)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
