<hr />
<h2>category </h2>
<hr />

<!--<div class="form-group mb-3">
  <input type="text" class="form-control" placeholder="Search by Recipe Name" [(ngModel)]="searchTerm" (ngModelChange)="filterRecipes()">
</div>-->

<button class="btn btn-success mb-0" [routerLink]="['/Dashboard/AddRecipeAdmin']">Add category</button>

<table class="table table-striped table-hover text-center" style="margin-top: 20px;">
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">category Name</th>
      <th scope="col">description</th>

      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of categoryArray">
      <td>
        <a class="postcard__img_link">
          <img class="postcard__img"
               [src]="'https://localhost:44378/api/images/getImages/' + item.image"
               [alt]="item.image"
               style="width: 100px; height: 100px;" />
        </a>
      </td>
      <td>{{item.recipeName}}</td>
      <td>{{item.description}}</td>

      <td>
        <button class="btn btn-secondary me-2" style="width: 80px;" [routerLink]="['/Dashboard/UpdateRecipeAdmin', item.recipeId]">Edit</button>

        <!--<button class="btn btn-danger" style="width: 80px;" (click)="deletCategory(item.categoryId)">Delete</button>-->
      </td>
    </tr>
  </tbody>
</table>
